{% include language.html %}

{% capture url_tree %}
  {{ page.url | replace: '/', ' ' | strip }}
{% endcapture %}

{% capture url_level %}
  {{ url_tree | number_of_words | minus: 1 }}
{% endcapture %}

{% assign breadcrumb = url_tree | split: ' ' %}

{% assign __ = site.data.locale[language] | default: site.data.locale.en %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb justify-content-md-end">
    {% if page.parent != nil %}
    {% else %}
    <li class="breadcrumb-item text-uppercase">
      <a href="{{ site.baseurl }}">{{ __["Home"] }}</a>
    </li>
    {% endif %}
  {% for item in breadcrumb %}
    {% assign label = item | replace: '-', ' ' | capitalize %}
    {% assign index = forloop.length | minus: forloop.index %}
    {% assign page_url = page.url | split: '/' | pop: index | join: '/' %}
    <li class="breadcrumb-item text-uppercase">
      {% if forloop.last %}
      <span>{{ page.breadcrumb_label | default: label }}</span>
      {% else %}
        {% if page.parent != nil and forloop.first %}
      <a href="{{ page.parent | prepend: '/' | append: '/' }}">{{ __["Home"] }}</a>
        {% else %}
      <a href="{{ page_url }}/">{{ label }}</a>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
  </ol>
</nav>
