{% if page.layout == "home" %}
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description | xml_escape | strip_newlines }}">
  <meta property="og:url" content="{{ siteurl }}{{ page.url }}">
  {% if site.image %}
  <meta property="og:image" content="{{ site.image }}">
  {% endif %}
{% else %}
  <meta property="og:site_name" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description | xml_escape | strip_newlines }}">
  <meta property="og:url" content="{{ siteurl }}{{ page.url }}">
  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}">
  {% endif %}
{% endif %}

{% if page.layout == "home" %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description | xml_escape | strip_newlines }}">
  {% if site.image %}
  <meta name="twitter:image" content="{{ site.image }}">
  {% endif %}
{% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description | xml_escape | strip_newlines }}">
  {% if page.image %}
  <meta name="twitter:image" content="{{ page.image }}">
  {% endif %}
{% endif %}
