---
---

@import "bootstrap";

html,
body,
body > #app {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  // line-height: 1.7;

  &:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.65;
    content: " ";
  }
}

#app {
  background-color: var(--dark);
  background-size: cover;
}

#app > header {
  font-size: 1.2rem;
  height: 60px;
}

#app > footer {
  font-size: 12px;
}

h1, h2, h3,
.h1, .h2, .h3 {
  @extend .mt-5;
  @extend .mb-3;
}

h4, h5, h6,
.h4, .h5, .h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-brand {
  & .navbar-brand-svg {
    width: 112px;
    height: 42px;
  }
}

.breadcrumb {
  & {
    margin-bottom: 0;
    font-size: 75%;
    background-color: transparent;
  }
}

blockquote {
  & {
    width: 85%;
    margin: 40px auto;
    margin-top: 40px;
    text-align: center;
  }

  & p {
    @extend .d-block;
    @extend .lead;
    @extend .font-weight-light;
    font-style: italic;
    color: var(--gray);
  }

  & cite {
    font-size: 75%;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary);
  }
}
