---
layout: default
---

{% include header.html %}

{% include page-heading.html %}

<article>
  <header>
    {% include ui-page-header.html %}
  </header>

  <section>
    <img class="img-fluid" src="{{ page.image }}" alt="{{ page.headline | append: ' - ' | append: page.leadtext }} ">
  </section>

  <section>
    <div class="container py-5">
      <div class="row justify-content-center">

        <div class="col-12 col-md-9 col-lg-7">
          {{ content }}
        </div><!--end of col-->

      </div><!--end of row-->
    </div><!--end of container-->
  </section>
</article>

{% include footer.html %}
